
.item {
	border-right: 1px solid $grey;
	margin-bottom: 15px;
	&:nth-child(4n) {border-right: none;}
	&:nth-child(4n +1) {clear: left;}
	@media(max-width: $medium) {
		border-right: none;
		border-bottom: 1px solid $grey;
		&:last-of-type {border-bottom: none;}
	}
	& > p {color: $darkgrey;}
}

p.contact__title,
p.address_type {
	color: $primary;
	font-size: 16px;
	font-family: $montserrat;
}

.need {
	margin-bottom: 15px;
	&:nth-child(2n+1) {clear: left;}
	.need__dates {color: $darkgrey;}

	.need__title {
		font-size: 25px;
		font-family: $varela;
	}

	.need__projects {
		margin-left: 30px;
	}
	.need__project {
		list-style: disc;
		font-family: $varela;
	}
}