.user__notifications {
	background-color: $alert;
	border-radius: 50%;
	width: 25px;
	height: 25px;
	line-height: 25px;
	font-size: 11px;
	color: #fff;
	display: inline-block;
	font-family: $montserratbold;
	text-align: center;
}

.profil__pic {
	display: inline-block;
	vertical-align: middle;
	margin-right: 15px;
}

.user--mini {
	margin-bottom: 15px;
	text-align: center;
	&:nth-child(2n+1) {clear: left;}
	.line--remove {display: block; textalign: center; margin: 0 auto;}

	.user__name{
		font-size: 16px;
		font-family: $montserrat;
		color: $primary;
	}
	.user__job {
		font-size: 15px;
		font-family: $varela;
		color: $darkgrey;
	}
}


// projects
.project__mini {
	border-right: 1px solid $grey;
	margin-bottom: 15px;
	&:nth-child(3n) {border-right: none;}
	&:nth-child(3n +1) {clear: left;}
	@media(max-width: $medium) {
		border-right: none;
		border-bottom: 1px solid $grey;
		&:last-of-type {border-bottom: none;}
	}
	& > p {color: $darkgrey;}
	& .address_type {font-weight: bold;}
}

// Full page
.user__alerts {
	.user__notifications {
		float: left;
		margin-right: 15px;
	}
	.bloc__title {color: $alert;}
	.alerts {
		margin-left: 40px;
		font-family: $varela;
	}
	.alert {margin-bottom: 10px;}
}