{% for flashMessage in app.session.flashbag.get('notice') %}
    <div class="notice success">
            <button class="close">&times;</button>
            <p>{{ flashMessage }}</p>
    </div>
{% endfor %}  
