<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="UTF-8">
	{% block title %}
  	{% endblock %}

  	{% block stylesheets %}
    	{# On charge le CSS de bootstrap depuis le site directement #}
   	 	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  	{% endblock %}
</head>
<body>
	<aside class="aside">
		<nav class="nav">
			<ul>
				<li>Dashboard</li>
				<li>Clients</li>
				<li>Utilisateurs</li>
				<li>Fournisseurs</li>
				<li>Réglages</li>
			</ul>
		</nav>
	</aside>
	{% block body %}
  	{% endblock %}
</body>
</html>
