<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="UTF-8">
	{% block title %}<title>Dashboard</title>{% endblock %}

  	{% block stylesheets %}
   	 	<link rel="stylesheet" href="{{ asset('bundles/flyddashboard/css/main.min.css') }}" type="text/css" media="all" />
  	{% endblock %}

</head>
<body>

	<!-- Aside -->
	{% include "FlydDashboardBundle::menu.html.twig" %}

	<div class="main">

		<!-- Top Bar -->
		{% include "FlydDashboardBundle::top.html.twig" %}

		<div class="content">

			<div class="container">
				{% block body %}
			  	{% endblock %}
			</div>

		</div>
		
	</div>
	

	{% block basejs %}
   	 	<script type="text/javascript" src="{{ asset('bundles/flyddashboard/js/vendor/jquery/dist/jquery.min.js') }}"></script>
   	 	<script type="text/javascript" src="{{ asset('bundles/flyddashboard/js/main.min.js') }}"></script>
  	{% endblock %}
  	{% block js %}
  	{% endblock %}
</body>
</html>
