{# menu.html #}


<aside class="aside" id="aside">
	<nav class="nav">
		<ul>
			<li class="title"><a href="{{path('flyd_dashboard_homepage')}}">Dashboard</a></li>
			<li class="title"><a href="{{path('client_list')}}">Clients</a></li>
			<li class="title">Utilisateurs
				<ul>
					<li><a href="{{path('user_add')}}">Ajouter un utilisateur</a></li>
					<li><a href="{{path('user_list')}}">Tous les utilisateurs</a></li>
				</ul>
			</li>
			<li class="title">Fournisseurs</li>
			<li class="title">Réglages</li>
		</ul>
	</nav>
</aside>