{# menu.html #}


<aside class="aside" id="aside">
	<nav class="nav">
		<ul>
			<li class="title">Dashboard</li>
			<li class="title">Clients</li>
			<li class="title">Utilisateurs</li>
			<li class="title">Fournisseurs</li>
			<li class="title">Réglages</li>
		</ul>
	</nav>
</aside>