/*
	COMMONS
	=======
*/

.btn {
	font-weight: 700;
	font-family: $montserratbold;
	text-transform: uppercase;
	background-color: $primary;
	color: #fff;
	border-radius: 3px;
	padding: 0 15px;
	cursor: pointer;
	border: 1px solid transparent;
	transition: all 200ms ease;
	&:hover,
	&:focus {
		color: $primary;
		border-color: $primary;
		background-color: transparent;
	}
}


.btn--edit {
	@extend .btn;
	display: block;
	height: 40px;
	line-height: 40px;
	text-align: center;
	float: right;
}

.btn--delete {
	@extend .btn;
	background-color: $alert;
	display: block;
	height: 40px;
	line-height: 40px;
	text-align: center;
	float: right;
	margin-left: 10px;
	&:hover,
	&:focus {
		color: $alert;
		border-color: $alert;
		background-color: transparent;
	}
}

.btn--delete--reverse {
	@extend .btn--delete;
	background-color: transparent;
	color: $alert;
	border-color: $alert;
	&:hover,
	&:focus {
		color: #fff;
		background-color: $alert;
	}
}

.btn--add {
	@extend .btn;
	display: block;
	height: 30px;
	width: 30px;
	line-height: 30px;
	text-align: center;
	float: right;
	padding: 0;
	font-family: $montserrat;
	font-size: 18px;
}

.btn--new {
	@extend .btn--add;
}

.btn--save {
	@extend .btn;
	display: block;
	height: 40px;
	line-height: 40px;
	text-align: center;
	float: right;
}

.btn--save--reverse {
	@extend .btn--save;
	background-color: transparent;
	border: 1px solid $primary;
	color: $primary;
	&:hover,
	&:focus {
		background-color: $primary;
		border: 1px solid transparent;
		color: #fff;
	}
}

.line--remove {
	font-family: $varela;
	color: $alert;
}

/* Sprite */
.sprite {
	background: url(../img/sprite.svg);/* IE 9+ & Android 3+ */
	.no-svg & {
		background: url(../img/sprite.png);
	}
}

.bloc {
	@extend %clearfix;
	background-color: #fff;
	padding: 30px;
	margin-bottom: 30px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.alert {color: $alert;}

.profil__pic {
	display: inline-block;
	vertical-align: middle;
	border-radius: 50%;
}

