.supplier--mini span {color: $darkgrey;}

.project__team {
	.user {
		text-align: center;
	}
	.user__name{
		font-size: 16px;
		font-family: $montserrat;
		color: $primary;
	}
	.user__job {
		font-size: 15px;
		font-family: $varela;
		color: $darkgrey;
	}
}

.taskcontainer {
	width: 100%;
	.thead {
		font-family: $montserratbold;
		text-transform: uppercase;
		color: $darkgrey;
	}
	.tbody {
		font-family: $varela;
		color: $primary;
	}
}