.supplier--mini span {color: $darkgrey;}


.bloc--search {
	label {
		font-family: $montserratbold;
		text-transform: uppercase;
	}
	select {margin: 0 10px;}
}

.taskcontainer {
	width: 100%;
	margin-bottom: 15px;
	.thead {
		font-family: $montserratbold;
		font-size: 13px;
		text-transform: uppercase;
		color: $darkgrey;
		border-bottom: 1px solid $grey;
		> div {
			padding: 10px 0;
		} 
	}
	.tbody {
		font-family: $varela;
		color: $primary;
		.sortable {cursor: move;}
		.ui-sortable-placeholder {border: 1px dashed $darkgrey;}
	}
	.task {
		border-bottom: 1px solid $grey;
		> .taskcell {
			padding: 10px 0;
		} 
	}
}

.tasktable {display: table;}
.taskrow {display: table-row;}
.taskcell {display: table-cell;}

.ui-autocomplete {
	background: white;
	border-left: 1px solid $grey;
	border-right: 1px solid $grey;
	border-bottom: 1px solid $grey;
	font-family: $varela;
	padding: 5px;
	width: auto;
}
.ui-menu-item:hover {
	background: $darkgrey;
	color: #fff;
}
.ui-helper-hidden-accessible {display:none;}
.ui-sortable-disabled * {
	color: $darkgrey!important;
}

.project {
	margin-bottom: 30px;
	.bloc {margin:0;}
}

.project__title {
	background-color: $primary;
	color: #fff;
	padding: 30px;
	font-family: $varela;
	font-size: 25px;
	cursor: pointer;
}
.project__title__infos {
	color: $darkgrey;
	text-transform: none;
	font-size: 14px;
	display: block;
}

.pending {color: $pending;}
.coming {color: $alert;}

/* Index*/
.project__title .status {
	float: right;
	height: 20px;
	width: 20px;
	border: 2px solid;
	border-radius: 50%;
	position: relative;
	&.a-venir {		
		border-color: $alert;
		background-color: $alert;
	}
	&.en-cours {		
		border-color: $pending;
		&:after {
			content: "";
			height: 8px;

			border-radius: 0  0 50% 50%;
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			background-color: $pending;
		}
	}
	&.en-cours-de-validation {		
		border-color: $pending;
		background-color: $pending;
	}
	&.termin {
		border-color: $success;
		background-color: $success;
	}

}