/*
	Kickstart files for html/css project. Based on Kaelig documentation (blog.kaelig.fr) and on sass
*/

@import "variables";
@import "mixins";
@import "reset";
@import "grid_system";
@import "grid";
@import "commons";
@import "fonts";
@import "typo";
@import "forms";
@import "project";
@import "client";
@import "need";
@import "user";

/*  GLOBAL
	======  */

body {
	color: $primary;
	background-color: $greybg;
	
}

p {
	color: $primary;
	font-family: $varela;
	font-size: 14px;
}

/*  HEADER
	======  */
.header {
	border-bottom: 1px solid $darkgrey;
	background-color: #fff;
	.user {
		float: right;
		height: 85px;
		padding: 0 25px;
		border-left: 1px solid $darkgrey;
		position: relative;
		cursor: pointer;
		.user__name {
			line-height: 85px;
			&::before {
				content: "";
				display: inline-block;
				width: 0;
				height: 0;
				border-style: solid;
				border-width: 8.7px 5px 0 5px;
				border-color: $primary transparent transparent transparent;
				margin-right: 7px;
				transition: all 200ms ease;
			}
			.profil__pic {margin-left: 15px;}
		}
		.user__login {
			line-height: 85px;
		}
		.user__menu {
			position: absolute;
			top: 100%;
			right: 0;
			left: -1px;
			font-family: $varela;
			background-color: #fff;
			padding: 25px;
			transition: all 200ms ease;
			transform: scale(1,0);
			transform-origin: 0 0;
			border-left: 1px solid $darkgrey;
			border-bottom: 1px solid $darkgrey;
			&.deploy {
				transform: scale(1,1);
			}
		}
	}
}




/*  ASIDE
	=====  */
.aside {
	background-color: $primary;
	height: 100%;
	color: #fff;
	position: fixed;
	height: 100%;
	top: 0;
	bottom: 0;
	width: 280px;
	padding: 15px;
	.deploy & {
		display: none;
	}
}
	
#menu--toggle {
	display: inline-block;
	height: 85px;
	line-height: 85px;
	padding: 0 25px;
	text-align: center;
	border-right: 1px solid $darkgrey;
	&::before {
		content: "";
		display: inline-block;
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 5px 8.7px 5px 0;
		border-color: transparent $primary transparent transparent;
		margin-right: 7px;
		transition: all 200ms ease;
		.deploy & {
			transform: rotate(180deg);
		}
	}
}

.menu > li {
	color: $darkgrey;
	font-family: $montserratbold;
	text-transform: uppercase;
	padding: 10px 0;
	position: relative;
	cursor: pointer;
	&.subs:after {
		content: "";
		height: 10px;
		width: 17px;
		display: block;
		position: absolute;
		right: 0;
		top: 3px;
		@extend .sprite;
		transition: transform 200ms ease;
	}
	&.show.subs:after{
		transform: rotate(180deg);
	}
}
.submenu > li {
	font-family: $varela;
	text-transform: none;
	margin-left: 20px;
	color: $grey;
}


/*  MAIN
	====   */
.main {
	margin-left: 280px;
	.deploy & {
		margin-left: 0;
	}

}

.main .content {	
	padding: 75px 0;
}

.breadcrumb a {
	color: $darkgrey;
	&:hover,
	&:focus {
		color: $primary;
	}
}

form .btn--save,
form .btn--remove {
	margin-left: 15px;
}

/* Blocs */

.bloc-inline-edition {
	.control-label {
		display: inline-block;
		vertical-align: middle;
		width: 20%;
		font-size: 14px;
	}
	.data {
		display: inline-block;
		font-family: $varela;
		vertical-align: middle;
		font-size: 14px;
	}
}



/*  FOOTER
	======  */



@import "print";



