{% extends 'FlydDashboardBundle::layout.html.twig' %}

{% block title %}
    <title>Projet Canevas</title>
{% endblock %}

{% block top %}
    <p>Canevas de projet</p>
{% endblock %}

{% block body %}
     <div class="title__container">
        <a href="{{ path('projectcanvas_add') }}" class="btn btn--edit">Nouveau canevas</a>
        <h1 class="lvl1">Canevas de projet</h1>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="bloc bloc--general bloc--search">
                <div class="row">
                {% for entity in entities %}
                    <div class="col-sm-12">
                        <h2 class="bloc__title">
                            <a href="{{ path('projectcanvas_show', { 'id': entity.id }) }}">{{entity.name }}</a>
                        </h2>
                    </div>
                {% endfor %}
                </div>
            </div>
        </div>
    </div>


{% endblock %}
