<tr id="{{pct.id}}" class="task sortable ui-sortable-handle" data-position="{{pct.position}}">
    <td>{{pct.task.step|capitalize}}</td>
    <td>{{pct.task.name|capitalize}}</td>
    <td><a href="" class="line--remove">Retirer</a></td>
</tr>