{% extends 'FlydDashboardBundle::layout.html.twig' %}

{% block title %}
    <title>{{entity.name}} - Edit </title>
{% endblock %}

{% block body -%}
    <h1>Client edit</h1>

	{{ form(form) }}
{% endblock %}
