{% extends 'FlydDashboardBundle::layout.html.twig' %}

{% block title %}
    <title>Dashboard</title>
{% endblock %}

{% block top %}
    <p>Clients</p>
{% endblock %}

{% block body %}

    <div class="title__container">
        <a href="{{ path('client_add') }}" class="btn btn--edit">Nouveau client</a>
        <h1 class="lvl1">Clients</h1>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="bloc bloc--general bloc--search">
                
                    <label>Rechercher: </label>
                    <input type="text" class="form-control" id="client_sort">
            </div>
        </div>
    </div>

    <div class="row">
        {% for entity in entities %}
        <div class="col-sm-12 client">
            <div class="bloc bloc--general bloc--search">
                <div class="row">
                    <div class="col-sm-12">
                        <h2 class="bloc__title">
                            <a href="{{ path('client_show', { 'id': entity.id }) }}">{{entity.name }}</a>
                        </h2>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}

{% block js %}
    <script type="text/javascript">
        (function($) {
            $('#client_sort').on('keyup', function() {
                var $clients = $('.client'),
                    $input = $(this).val();
                $clients.each(function() {
                    var client = $(this),
                        title = client.find('.bloc__title').text();

                    console.log($input);
                    if(title.indexOf($input) < 0 ) {
                        client.hide(200);
                    } else {
                        client.show(200);
                    }
                });
            });
        })(jQuery);
    </script>
{% endblock %}
