<div class="row" id="newuser">
	<div class="col-sm-12 bloc-inline-edition">
		<h2 class="bloc__title">Ajouter un utilisateur</h2>
		<a href="{{ path('user_add') }}">Créer un utilisateur ?</a>
		<select name="project_user" id="project_user">
		{% for entity in entities %}
			<option value="entity.id">{{entity.username}} - {{entity.job}}</option>
		{% endfor %}
		</select>
		<button class="btn--save--reverse">Ajouter</button>
	</div>
</div>