{% extends "FlydDashboardBundle::layout.html.twig" %}

{% block title %}
	<title>Dashboard - {{ parent() }}</title>
{% endblock %}

{% block body %}
	Welcome. Bientot le dashboard
	{% for company in companies %}
    <li>
        {{ company.name }}
		{% for address in company.addresses %}
        	{{ address.street }}
		{% endfor%}

    </li>
  {% endfor %}
{% endblock %}